body {
   font-family: 'Rubik', sans-serif;
   color: white;
   background-color: rgb(1, 57, 80);
}

.wrap {
   padding-bottom: 20px;
   border-bottom: .5px solid rgb(230, 227, 227);
}

/* Logo rgb(1, 39, 54) - main color*/

.img1 {
   width: 70px;
   height: 70px;
   object-fit: cover;
   margin-right: 30px;
}

.logo-wrap {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.name {
   text-decoration: none;
   color: white;
}

/* Header */


.header {
   max-width: 1400px;
   padding-right: 10px;
   padding-left: 10px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 30px;
}

.nav-bar {
   display: flex;
   align-items: center;
   list-style: none;
   padding-left: 0;
   margin: 0;
}


.nav-item {
   margin-left: 35px;
}

.nav-link {
   color: white;
   text-decoration: none;
   font-size: 16px;
   transition: 0.3s ease color;
}

.nav-link:hover {
   color: rgb(85, 225, 243);
   opacity: 0.9;
   font-weight: 500;
}


.nav-link1 {
   margin-left: 70px;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background: white;
   padding: 10px 10px;

}

.nav-link2 {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background: white;
   padding: 10px 10px;
}

.nav-link3 {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background: white;
   padding: 10px 10px;
}

.nav-link1:hover {
   cursor: pointer;
   background-color: rgb(11, 201, 226);
}

.nav-link2:hover {
   cursor: pointer;
   background-color: rgb(16, 211, 195);
}

.nav-link3:hover {
   cursor: pointer;
   background-color: rgb(16, 211, 152);
}

/* Основное nav меню  rgb(1, 39, 54) */

.header-second {
   max-width: 1650px;
   padding-right: 10px;
   padding-left: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 40px auto 10px;

}


.main-nav-bar {
   display: flex;
   align-items: center;
   list-style: none;
   padding-left: 0;
   margin: 0;
}

.main-nav-bar2 {
   display: flex;
   align-items: center;
   list-style: none;
   padding-left: 0;
   margin: 0;
}

.main-nav-item {
   margin-left: 35px;
}

.nav-btn {
   color: black;
   background-color: white;
   text-decoration: none;
   border: 2px solid white;
   padding: 10px 20px;
   border-radius: 90px;
   transition-duration: .25s;
}

.nav-btn:hover {
   color: rgb(255, 255, 255);
   background-color: rgb(11, 201, 226);
   border: 2px solid rgb(11, 201, 226);
}

.nav-btn2 {
   color: black;
   background-color: rgb(16, 211, 195);
   text-decoration: none;
   border: 2px solid rgb(16, 211, 195);
   padding: 10px 20px;
   border-radius: 90px;
   transition-duration: .25s;
}

.nav-btn2:hover {
   color: black;
   background-color: white;
}

.wrap-second {
   padding-bottom: 25px;
   border-bottom: .5px solid rgb(230, 227, 227);
}


/*main services*/
.wrapper_sv {
   height: 1200px;
   background-color: #F6F9FB;
   box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.services {
   width: 70%;
   padding: 70px 50px;
   margin: 0 auto;
   color: black;
}

.sv_title {
   color: black;
   font-size: 56px;
}

.sv_lists {
   display: flex;
   justify-content: space-between;
   margin: 50px auto;
}

.service_list {
   background: #fff;
   border-radius: 7px;
   padding: 60px 60px;
   height: 850px;
   width: 500px;
   font-size: 20px;
   box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.1);
}

.service_item {
   margin-bottom: 50px;
   color: black;
   transition: 0.2s ease color;
}

.service_item:hover {
   color: rgb(11, 201, 226);
   cursor: pointer;
}





/*map*/

.map-wrapper {
   height: 450px;
   width: 100%;
   background: url("../img/city-map-background-blue-tone_99087-101.png") no-repeat center center;
   background-size: cover;
   position: relative;
}

.map-wrapper:after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgb(3, 49, 63);
   opacity: 0.6;
   z-index: 1;
}

.map {
   align-items: center;
   text-align: center;
   margin: 0 auto;
   position: relative;
   z-index: 2;
}


.map-img {
   padding-top: 110px;
}

.map-txt {
   margin-top: 40px;
}

.map-text {
   font-family: 'Ubuntu', sans-serif;
   color: rgb(16, 211, 195);
   text-decoration: none;
   font-size: 30px;
   font-weight: 600;
   transition: .3s ease color;
}

.map-text:hover {
   cursor: pointer;
   color: #fff;
}

.map-text::after {
   content: "";
   display: block;
   background-color: rgb(16, 211, 195);
   width: 120px;
   height: 3px;
   margin: 15px auto 0;
}

/*Footer*/

.footer-wrapper {
   height: 470px;
}

.footer {
   padding: 50px 50px;
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid gray;
}

.info-list {
   color: #878787;
}

.info-item {
   margin-top: 12px;
}

.info-item a {
   color: #878787;
   font-size: 20px;
   text-decoration: none;
}


.img-ft {
   width: 32px;
   height: 32px;
   background-color: white;
   border-radius: 50%;
   margin-right: 10px;
}

.con-it {
   display: flex;
   align-items: center;
}


.list-wrap {
   display: flex;
   justify-content: space-around;
}

.list2 {
   margin-left: 50px;
}

.contact-list {
   margin-right: 40px;
   margin-bottom: 50px;
}

.footer-closer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 20px;
}

.footer-closer p {
   color: #878787;
   margin-right: 25px;
   font-size: 18px;

}

.nav-footer {
   display: flex;
   align-items: center;
   list-style: none;
   padding-left: 0;
}