body {
   font-family: 'Rubik', sans-serif;
   color: white;
   background-color: rgb(1, 57, 80);
}

.wrap {
   padding-bottom: 20px;
   border-bottom: .5px solid rgb(230, 227, 227);

}


/* Logo rgb(1, 39, 54) - main color*/

.img1 {
   width: 70px;
   height: 70px;
   object-fit: cover;
   margin-right: 30px;
}

.logo-wrap {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.name {
   text-decoration: none;
   color: white;
}

/* Header */


.header {
   max-width: 1400px;
   padding-right: 10px;
   padding-left: 10px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 30px;
}

.nav-bar {
   display: flex;
   align-items: center;
   list-style: none;
   padding-left: 0;
   margin: 0;
}


.nav-item {
   margin-left: 35px;
}

.nav-link {
   color: white;
   text-decoration: none;
   font-size: 16px;
   transition: 0.3s ease color;
}

.nav-link:hover {
   color: rgb(85, 225, 243);
   opacity: 0.9;
   font-weight: 500;
}


.nav-link1 {
   margin-left: 70px;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background: white;
   padding: 10px 10px;

}

.nav-link2 {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background: white;
   padding: 10px 10px;
}

.nav-link3 {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background: white;
   padding: 10px 10px;
}

.nav-link1:hover {
   cursor: pointer;
   background-color: rgb(11, 201, 226);
}

.nav-link2:hover {
   cursor: pointer;
   background-color: rgb(16, 211, 195);
}

.nav-link3:hover {
   cursor: pointer;
   background-color: rgb(16, 211, 152);
}

/* Основное nav меню  rgb(1, 39, 54) */



.header-second {
   max-width: 1650px;
   padding-right: 10px;
   padding-left: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 40px auto 10px;

}


.main-nav-bar {
   display: flex;
   align-items: center;
   list-style: none;
   padding-left: 0;
   margin: 0;
}

.main-nav-bar2 {
   display: flex;
   align-items: center;
   text-align: center;
   list-style: none;
   padding-left: 0;
   margin: 0;

}

.main-nav-item {
   margin-left: 35px;
   margin-bottom: 25px;
}

.nav-btn {
   color: black;
   background-color: white;
   text-decoration: none;
   border: 2px solid white;
   padding: 10px 20px;
   border-radius: 90px;
   transition-duration: .25s;
}

.nav-btn:hover {
   color: rgb(255, 255, 255);
   background-color: rgb(11, 201, 226);
   border: 2px solid rgb(11, 201, 226);
}

.nav-btn2 {
   color: black;
   background-color: rgb(16, 211, 195);
   text-decoration: none;
   border: 2px solid rgb(16, 211, 195);
   padding: 10px 20px;
   border-radius: 90px;
   transition-duration: .25s;
}

.nav-btn2:hover {
   color: black;
   background-color: white;
}




/*Contact block*/

.contact-wrapper {
   background: rgb(241, 240, 240);
   height: 1700px;
   box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.table {
   background-color: #fff;
   margin: 0px auto;
   padding: 50px 50px;
   width: 70%;
}

.table-header {
   align-items: center;
   padding: 5rem;

}

.table-header p {
   font-size: 1.4rem;
   color: black;
   display: inline-block;
   width: 40rem;
   line-height: 1.2rem;
}

.table-header h2 {
   color: black;
   font-size: 3rem;
   font-weight: 600;
   margin: 0;
}

.price-tags {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column;
}

.price-tag {
   box-shadow: 0px 0px 81.88px 10.12px rgba(204, 204, 223, 0.71);
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 1200px;
   height: 600px;
   background-color: white;
   color: rgb(29, 29, 29);
   border-radius: 2rem;
   text-align: center;
   padding: 10px;
   margin-bottom: 30px;

}

.contact-item {
   margin-top: 30px;
   display: flex;
   text-align: center;
   align-items: center;

}

.price-tag h2 {
   font-size: 2rem;
   font-weight: 500;
   margin-top: 2rem;
   color: black;
}


.contact-item p {
   color: black;
   margin-right: 25px;
}

.contact-item h3 {
   color: black;
   font-weight: 600;
   font-size: 1.4rem;
}


/*map*/

.map-wrapper {
   height: 450px;
   width: 100%;
   background: url("../img/city-map-background-blue-tone_99087-101.png") no-repeat center center;
   background-size: cover;
   position: relative;
}

.map-wrapper:after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgb(3, 49, 63);
   opacity: 0.6;
   z-index: 1;
}

.map {
   align-items: center;
   text-align: center;
   margin: 0 auto;
   position: relative;
   z-index: 2;
}


.map-img {
   padding-top: 110px;
}

.map-txt {
   margin-top: 40px;
}

.map-text {
   font-family: 'Ubuntu', sans-serif;
   color: rgb(16, 211, 195);
   text-decoration: none;
   font-size: 30px;
   font-weight: 600;
   transition: .3s ease color;
}

.map-text:hover {
   cursor: pointer;
   color: #fff;
}

.map-text::after {
   content: "";
   display: block;
   background-color: rgb(16, 211, 195);
   width: 120px;
   height: 3px;
   margin: 15px auto 0;
}

/*Footer*/

.footer-wrapper {
   height: 470px;
}

.footer {
   padding: 50px 50px;
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid gray;
}

.info-list {
   color: #878787;
}

.info-item {
   margin-top: 12px;
}

.info-item a {
   color: #878787;
   font-size: 20px;
   text-decoration: none;
}

.info-item a:hover {
   color: #a3a1a1;
}



.img-ft {
   width: 32px;
   height: 32px;
   background-color: white;
   border-radius: 50%;
   margin-right: 10px;
}

.con-it {
   display: flex;
   align-items: center;
}


.list-wrap {
   display: flex;
   justify-content: space-around;
}

.list2 {
   margin-left: 50px;
}

.contact-list {
   margin-right: 40px;
   margin-bottom: 50px;
}

.footer-closer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 20px;
}

.footer-closer p {
   color: #878787;
   margin-right: 25px;
   font-size: 18px;

}

.nav-footer {
   display: flex;
   align-items: center;
   list-style: none;
   padding-left: 0;
}